@import './colors.scss';

.card {
  position: relative;
  padding: 16px;
  background-color: $white;
  box-shadow: $shadow;
  border-left: 4px solid transparent;
  cursor: default;
  transition: all 0.15s;

  &.passed {
    border-left-color: $green;
  }

  &.failed {
    border-left-color: $red;
  }

  &.pending {
    border-left-color: $blue;
  }
}

.icon {
  &.passed {
    color: $green;
  }

  &.failed {
    color: $red;
  }

  &.pending {
    color: $blue;
  }

  &.skipped {
    color: $gray;
  }
}

.list-container {
  overflow-y: auto;

  .list-row {
    margin: 6px 0;
    padding: 12px;
    text-align: left;
    transition: all 0.15s;
    border-left: 4px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &.clicky {
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: $blue-selected;
        box-shadow: $shadow;
      }
    }

    .icon {
      padding: 0 8px 0 4px;
    }

    .label {
      flex: 1 0 auto;

      .chevron {
        color: $gray-a;
      }
    }

    &.passed {
      border-left-color: $green;
    }

    &.failed {
      border-left-color: $red;
    }

    &.pending {
      border-left-color: $blue;
    }

    &.skipped {
      border-left-color: $gray;
    }
  }
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-width: 100%;

  .grid-row {
    margin: 6px 0;
    padding: 12px;
    text-align: left;
    transition: all 0.15s;
    border-left: 4px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20px;
    min-width: calc(50vw - 106px);

    &.clicky {
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: $blue-selected;
        box-shadow: $shadow;
      }
    }

    .icon {
      padding: 0 8px 0 4px;
    }

    .label {
      flex: 1 0 auto;

      .chevron {
        color: $gray-a;
      }
    }

    &.passed {
      border-left-color: $green;
    }

    &.failed {
      border-left-color: $red;
    }

    &.pending {
      border-left-color: $blue;
    }

    &.skipped {
      border-left-color: $gray;
    }
  }
}

.link {
  color: $blue-link;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}