// Navbar background and selected item highlight
$black: #17202c;
$black-light: #28313e;

// Card and page backgrounds
$white: #fafafa;
$white-hover: #f4f4f4;
$off-white: #e9e9ed;

// Faded text
$gray: #888888;

// Crays
$gray-e: #eeeeee;
$gray-d: #dddddd;
$gray-c: #cccccc;
$gray-b: #bbbbbb;
$gray-a: #aaaaaa;
$gray-9: #999999;
$gray-8: #888888;
$gray-7: #777777;

// Passed / pending / failed
$green: #27be87;
$blue: #4997e4;
$red: #ea6a74;

// Delete / cancel buttons
$red-pale: #ffd5d9;

// Faint blue selection
$blue-selected: #ecf2f8;

// Shadows
$shadow: 0 1px 3px rgba(0,0,0,0.12);
$shadow-modal: 0 2px 6px rgba(0,0,0,0.22);